<div id="acolumn">
    <h1>Welcome to the Card Printer!</h1>

    <p>First, press the pink button to read the spreadsheet.</p>
    <p>Second, pick which cards you would like to print.</p>
    <p>Third, press the blue button.</p>
</div>
<div class='button-bunch'>
    <a href='/auth/google_oauth2'>
        <div class='lk-button readss'>
            <p class='button-text'>
                Authenticate with Google
            </p>
        </div>
    </a>
    <%= link_to "Get the spreadsheet data", '/spreadsheet/getdata' %>
    <div class='lk-button done-picking'>
        <p class='button-text'>
            Done
        </p>
    </div>
</div>
<div class="data">
</div>
