<div id="acolumn">
    <h1>Card Printer</h1>

    <p>1. Press the pink button to authenticate, if needed.</p>
    <p>2. Press the pumpkin button to read the spreadsheet and display it on the screen.</p>
    <p>[Coming later:] Pick which cards you would like to print. </p>
    <p>3. Press the blue button.</p>
</div>
<div class='button-bunch'>
    <a href='/auth/google_oauth2'>
        <div class='lk-button authenticate'>
            <p class='button-text'>
                Authenticate if needed
            </p>
        </div>
    </a>
    <div class='lk-button get-data'>
        <p class='button-text'>
            Get spreadsheet data
        </p>
        <div id='spinner'>
            <%= image_tag "715.gif" %>
        </div>
    </div>
    <div class='lk-button blue-button done-picking'>
        <p class='button-text'>
            Create PDF
        </p>
    </div>
</div>
<div class="data">
</div>
